// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100');

// Define fonts for body and headers
$body-font: "Noto Sans JP", "sans-serif";
$headers-font: "Noto Sans JP", "sans-serif";


p {
  font-size: 15px;
  font-family: $body-font;
}
h2 {
  font-size: 30px !important;
  font-family: $body-font;
}
h3 {
  font-size: 25px !important;
  font-family: $body-font;
}
