#category-show {
  a {
    color: black;
    font-style: italic;
  }
}

.card{
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  position: relative;
}

.card-description p {
  color: black;
  opacity: 0.7;
}
.picture-card {
  height: 175px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-link {
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 15px;
  left: 15px;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.edit-visibility {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 3;
  i {
    cursor: pointer;
  }
}

.gray-background {
  background-color: lightgrey;
  padding: 5px 13px !important;
}
.btn-action{
  border-radius: 2px;
  border: 2px solid black;
  color: black;
  margin-left: 15px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  p {
    border-bottom: 2px solid transparent;
  }
  p:hover {
    border-bottom: 2px solid black;
  }
}

.btn-red {
  position: fixed;
  bottom: 5%;
  right: 5%;
  border: 2px solid red;
  padding: 10px 20px;
  border-radius: 2px;
  a {
    color: red;
    font-size: 18px;
    font-weight: 700;
  }
}
.no-margin {
  margin: 0;
}
.size-text{
  font-size: 12px;
}

.align-text-padding {
  text-align: center;
  padding-bottom: 5vh;
  padding-top: 5vh;
  font-style: italic;
}
