// Specific CSS for your home-page

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  height:100%;

}


.container-all-dimension {
  padding: 0 12%;
  margin-top: 12vh !important;
  // padding-bottom: 5vh;
  overflow: scroll;
  min-height: calc(88vh-80px);
  min-height: -moz-calc( 88vh - 80px );
  min-height: -webkit-calc( 88vh - 80px );
}


@media only screen and (max-width:700px) {
  .container-all-dimension {
    padding: 0 5%;
    position: static;
    width: 100vw;
    // padding-bottom: 40px;
    min-height: calc(80vh-80px);
    min-height: -moz-calc( 80vh - 80px );
    min-height: -webkit-calc( 80vh - 80px );
    height: -webkit-calc( 90vh - 80px );
    height: -moz-calc( 90vh - 80px );
    height: calc(90vh-80px);
  }
  .dropdown-menu-burger {
    background-color: white;
  }
}
.row {
  margin: 0;
}
