// Specific CSS for your home-page

body {
  background-color: white;
}


.container-all-dimension {
  padding: 0 12%;
  margin-top: 15vh !important;
  // padding-bottom: 5vh;
  overflow: scroll;
  height: 85vh;
}


@media only screen and (max-width:700px) {
  .container-all-dimension {
    padding: 0 5%;
    position: static;
    width: 100vw;
  }
  .dropdown-menu-burger {
    background-color: white;
  }
}
.row {
  margin: 0;
}
