#img_prev{
  height: 450px;
  width: 450px;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
}


.upload-label {
  border: 1px black;
  border-style: dashed;
  cursor: pointer;
  text-align: center;
}



.select-album {
  margin: 10px 0;
  select {
    width: 100%;
    background-color: white;
    margin: 14px 0;
  }
}
.btns-action {
  width: 100%;
  a {
    color: black;
    font-style: italic;
    margin-left: 20px !important;
  }
}
