.first-title-album {
  margin: 3vh 0;
}
.title-picture {
  margin: 4vh 0;
}
.div-picture-background {
  background-size: contain !important;
  background-repeat: no-repeat;
}
.picture-show {
  padding: 3vh 0;
}
