.first-title-album {
  margin: 3vh 0;
}
.title-picture {
  margin: 4vh 0;
}
.div-picture-background {
  background-size: contain !important;
  background-repeat: no-repeat;
}
.picture-show {
  padding: 3vh 0;
}


[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  color: red;
}


.black-icon {
  color: black;
}

.gray-icon {
  color: lightgray;
}
.p-picture {
  font-size: 12px;
}
@media only screen and (max-width: 700px) {
  .p-picture {
    font-size: 9px;
  }
  p {
    font-size: 11px;
  }
  .title-picture {
    margin: 1vh 0;
  }
}
