.intro-category {
  // background-color: $pink;
  padding: 5%;
  bottom: 0;
  width: 70%;
  margin: auto;
}
.title-intro {
  margin-bottom: 5vh;
  h3, h4 {
    text-align: center;
  }
}


.pink-background {
  background-color: $pink;
}

.display-center {
  display: flex;
  align-items: center;
  // height: 85vh;

}

#photo-auteur {
  height: 500px;
}
#auteur-presentation{
  .texts-auteur {
    margin-top: 5%;
    margin-left: 10%;
  }
}
.texts-auteur {
  p {
    width: 120px;
  }
}

@media only screen and (min-width:700px) {
  .texts-auteur p {
    width: 120px;
    margin-top: 3%;
    column-fill: auto;
    height: 75vh;
    column-count: 2;
    column-gap: 35px;
    padding-left: 45px;
  }
}

#auteur-presentation {
  display: flex;
}


@media only screen and (max-width: 700px) {
  .intro-category {
    background-color: $pink;
    width: 100%;
    padding: 5%;
  }
  #auteur-presentation {
    display: flex;
    flex-direction: column;
  }
  .texts-auteur {
    padding-top: 20px;
  }
  // .div-picture-background {
  //   margin-left: 10%
  // }
}
