.intro-category {
  // background-color: $pink;
  padding: 5%;
  bottom: 0;
  width: 70%;
  margin: auto;
}
.title-intro {
  margin-bottom: 5vh;
  h3, h4 {
    text-align: center;
  }
}


@media only screen and (max-width:800px) {
  .intro-category {
  background-color: $pink;
  width: 100%;
  padding: 5%;
  }
}


.pink-background {
  background-color: $pink;
}

.display-center {
  display: flex;
  align-items: center;
  height: 85vh;

}

#photo-auteur {
  height: 500px;
}
.texts-auteur {
  p {
    width: 120px;
  }
}
