<div id="footer">
  <div class="links-contact">
    <%= link_to 'https://www.instagram.com/hellolaterre_cr/?hl=fr', target: "_blank" do %>
      <i class="fab fa-instagram"></i>
    <% end %>
    <% if  %>

    <% end %>
    <%= mail_to "chloe@rollandmail.com" do %>
      <i class="far fa-envelope"></i>
    <% end %>
    <%= link_to "http://localhost:3000/Vos_commandes", class:"" do %>
      <i class="far fa-share-square"></i>
    <% end %>
  </div>
</div>
