<div id="navbar_black" class="navbar-wagon-position high-height high-padding-navbar white-text-icon">
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= render 'shared/logo_icon' %>
  <% end %>

  <%= render 'shared/dropdown-burger' %>
</div>

