#footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}


.links-contact {
  align-items: center;
  padding: 10px;
  a {
    color: black;
    padding: 10px;
  }
  a:hover {
    font-size: 30px;
    text-decoration: none;
  }
}

#footer-white {
  a {
    color: white;
  }
}
