#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  height: 80px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  justify-content: stretch;
  align-items: center;
  padding: 8px 5%;
  a {
    color: black;
    padding: 8px;
  }
  .links-contact a:hover {
    font-size: 25px;
    // text-decoration: none;
  }
  .direction-share-links i {
    color: black;
    font-size: 14px;
  }
  // .direction-share-links i:hover {
  //   font-size: 25px;
  // }
}


.links-contact {
  position: relative;
  grid-column: 2 / span 1;
  display: flex;
  justify-self: center;
}

#footer-white {
  a {
    color: white;
    font-size: 18px;
  }
  // a:hover {
  //   font-size: 30px;
  // }
  .direction-share-links i {
    color: white;
    font-size: 17px;

  }
  .direction-share-links a {
    color: white;
    font-size: 13px;
    font-weight: 400 !important;
  }
}

.direction-share-links{
  grid-column: 3 / span 1;
  justify-self: end;
  display:flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  #footer i {
    font-size: 25px !important;
  }
  // #footer-white .dropdown {
  //   padding: 8px 8px 6px 8px;
  // }
  .direction-share-links i {
    // font-size: 14px !important;
    font-size: 24px !important;
  }
   .dropdown {
    padding: 8px 8px 12px 8px !important;
  }
  .direction-share-links {
    flex-direction: column;
    position: absolute;
    bottom: 25px;
  }
  #footer .links-contact a:hover {
    font-size: 18px;
  }
}
#absolute-left {
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  a {
    font-size: 10px;
    font-weight: 600;
    // text-decoration: none;
  }
  a:hover {
    font-size: 11px;
    font-weight: 600;
    // text-decoration: none;
  }
  p {
    font-size: 10px;
    color: white;
    font-weight: 600;
    // text-decoration: none;
  }
}
// .dropdown-backdrop {
//   left: unset;
// }

// .dropdown-menu {
//     position: absolute;
//     top: 100%;
//     left: 0;
//     z-index: 1000;
//     display: none;
//     float: left;
//     min-width: 366px;
//     padding: 5px 0;
//     margin: 2px 0 0;
//     list-style: none;
//     font-size: 18px;
//     text-align: left;
//     background-color: #fff0;
//     border: 0px;
//     border: 0px;
//     border-radius: 2px;
//     box-shadow: none !important;
//     background-clip: padding-box;
//     a:hover {
//     font-size: 14px;
//     }
//     a {padding: 0 8px;}
//     p {
//       padding: 0 8px;
//     }
//     p:hover {
//       text-decoration: underline;
//     }
//     i {
//       padding-right: 3px;
//       width: 17px;
//     }
// }

// #footer-white .dropdown .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
//     top: 0%;
// }


// .dropdown .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
//     top: -6%;
//     bottom: 0;
//     margin-bottom: 0px;
//     left: 100%;
// }
