/* Main navbar */
.navbar-wagon-position {
  display: flex;
  align-items: flex-end ;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0 5%;
  padding-bottom: 1%;
  z-index: 10;
  top: 0;
}

.high-height {
  height: 12vh;
  width: 100vw !important;
}

.message{
  white-space: pre-line;
}
// white color text
#navbar_home {
  #logo_image {
    fill: white;
  }
  #burger_menu{
    fill: white;
    stroke: white;
  }
  .white-text-icon {
    color: white;
  }
  .dropdown-menu-burger {
    li {
      color: white;
    }
    a {
      color: white;
    }
    a:hover {
      // border-bottom: 1px solid white;
    }
  }
}

// black color
#navbar_black {
  background-color: white;
  #logo_image {
    fill: black;
  }
  #burger_menu{
    fill: black;
    stroke: black;
  }
  .white-text-icon {
    color: black;
  }
  .dropdown-menu-burger {
    li {
      color: black;
    }
    a {
      color: black;
    }
    a:hover {
      // border-bottom: 1px solid black;
    }
  }
}

.active-tab {
    text-decoration: underline;
    // border-bottom: 1px solid black;
  a {
    text-decoration: underline;
    // border-bottom: 1px solid black;
  }
}

.dropdown-menu-burger {
  position: absolute;
  top: 100%;
  width: 156px;
  // left: 0;
  z-index: 100;
  display: none;
  float: left;
  list-style: none;
  text-align: right;
  background-clip: padding-box;
  padding-top: 50px;
}

.open > .dropdown-menu-burger {
  display: block;
}
.margin-by-category {
  padding: 8px 0px;
}

.navbar-wagon-dropdown-menu li > a, li {
  display: block;
  padding-bottom: 2px;
  // text-decoration: none;
}

.navbar-wagon-dropdown-menu li > a:hover, li:hover {
  display: block;
  padding-bottom: 2px;
  // text-decoration: none;
}

.dropdown-menu-burger a:hover {
  // text-decoration: none;

}

#logo_image {
  height: 35px;
  cursor: pointer;
}
#burger_menu{
  height: 35px;
  cursor: pointer;
}
.categroies-section a {
  margin-left: 45px !important;
}

// edit btn
.edit-website {
  position: fixed;
  z-index: 1001;
  a {
    // text-decoration: none;
  }
  top: 5px;
  right: 5px;
  i {
    color: red;
    height: 35px;
  }
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  // text-decoration: none;
}
@media only screen and (max-width: 700px) {
  .dropdown-menu-burger {
    background-color: #ffffff00 !important;
  }
}
