/* Main navbar */
.navbar-wagon-position {
  display: flex;
  align-items: flex-end ;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0 5%;
  padding-bottom: 1%;
  z-index: 10;
  top: 0;
}

.high-height {
  height: 12vh;
  width: 100vw !important;
}

.message{
  white-space: pre-line;
}
// white color text
#navbar_home {
  #logo_image {
    fill: white;
  }
  #burger_menu{
    fill: white;
    stroke: white;
  }
  .white-text-icon {
    color: white;
  }
  .dropdown-menu-burger {
    li {
      color: white;
    }
    a {
      color: white;
      font-weight: 400 !important;
    }
    a:hover {
      // border-bottom: 1px solid white;
    }
  }
}

// black color
#navbar_black {
  background-color: white;
  #logo_image {
    fill: black;
  }
  #burger_menu{
    fill: black;
    stroke: black;
  }
  .white-text-icon {
    color: black;
  }
  .dropdown-menu-burger {
    li {
      color: black;
    }
    a {
      color: black;
    }
  }
}

.active-tab {
    text-decoration: underline;
    // border-bottom: 1px solid black;
  a {
    text-decoration: underline;
    // border-bottom: 1px solid black;
  }
  a:active {
    text-decoration: underline;
    // border-bottom: 1px solid black;
  }
}

.dropdown-menu-burger {
  position: absolute;
  top: 100%;
  width: 156px;
  // left: 0;
  z-index: 100;
  display: none;
  float: left;
  list-style: none;
  text-align: right;
  background-clip: padding-box;
  padding-top: 50px;
}

.open > .dropdown-menu-burger {
  display: block;
}
.margin-by-category {
  padding: 8px 0px;
}

.navbar-wagon-dropdown-menu li > a, li {
  display: block;
  padding-bottom: 2px;
  // text-decoration: none;
}

.navbar-wagon-dropdown-menu li > a:hover, li:hover {
  display: block;
  // padding-bottom: 2px;
  // text-decoration: none;
}

.dropdown-menu-burger a:hover {
  // text-decoration: none;

}

#logo_image {
  height: 35px;
  cursor: pointer;
}
#burger_menu{
  height: 35px;
  cursor: pointer;
}
.categroies-section a {
  margin-left: 45px !important;
}

// edit btn
.edit-website {
  position: fixed;
  z-index: 1001;
  a {
    // text-decoration: none;
  }
  top: 5px;
  right: 5px;
  i {
    color: red;
    height: 35px;
  }
}

/* Navbar link */
.navbar-wagon-link {
  color: #616668;
  font-size: 14px;
}
.navbar-wagon-link:hover {
  color: #da552f;
  // text-decoration: none;
}
@media only screen and (max-width: 700px) {
  .background-xs {
    background-color: #ffffff !important;
    background-color: #313131 !important;
    margin: -20% -52%;
    padding-right: 20px;
    width: 170px;
    height: 82vh;
    overflow: scroll;
    padding-top: 20px;
  }
  #navbar_black {
    .background-xs {
      background-color: #ffffff !important;
    }
  }
  #navbar_home {
    .background-xs {
      background-color: #ffffff00 !important;
    }
  }
  .dropdown-menu-burger li > a, li {
    padding-bottom: 10px;
  }
  .dropdown-menu-burger li > a, li:active {
    padding-bottom: 10px;
  }
  .margin-by-category {
    padding: 5px 0px;
  }
}


// dropdown menu smartphone
#backOpen {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #80808070;
  display: none;
  z-index: 3;
}

#mySidenav {
  z-index: 4;
  display: none;
  background-color: #222223;
  height: 100vh;
  position: absolute;
  padding-top: 12vh;
  width: 70vw;
  right: 0;
  top: 0;
  animation: sidenavanmie 0.5s;
  color: white;
  padding-left: 5%;
  padding-bottom: 60px;
  li {
      color: white;
    }
    a {
      font-size: 20px;
      font-weight: 400 !important;
      color: white;
    }
  #closeNav {
    top: 10px;
    right: 15px;
    position: absolute;
    font-size: 30px !important;
  }
}

@keyframes sidenavanmie {
  0% { width: 0}
  100% { width: 70vw }
}

.scrolling {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  height: 90%;
}







